<!-- Levels: TRACE < DEBUG < INFO < WARN < ERROR < FATAL -->
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %c{2}: %m%n</Pattern>
        </layout>
    </appender>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.impact" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>
